<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A cool thing made with Glitch" />

  <title>Vonage Push notification uploader</title>
</head>

<body>
  <img src="https://developer.nexmo.com/assets/images/Vonage_Nexmo.svg" height="48px"
    alt="Nexmo is now known as Vonage" />
  <br />
  <form>
    <label>
      Vonage App ID
      <input name="appid" type="text" required size="45" />
    </label>
    <br />
    <label>
      Vonage Private key
      <input name="privatekey" type="file" accept=".key" required />
    </label>
    <br />
    <label>
      Firebase project ID
      <input name="firebaseprojectid" type="text" required  size="45" />
    </label>
    <a href="https://developer.nexmo.com/client-sdk/setup/set-up-push-notifications/android#get-firebase-project-id" target="_blank">help</a>
    <br />
    <label>
      Firebase token
      <input name="firebasetoken" type="text" required  size="45" />
    </label>
    <a href="https://developer.nexmo.com/client-sdk/setup/set-up-push-notifications/android#get-firebase-token" target="_blank">help</a>
    <br />
    <button type="submit" id="submit-dream">Upload</button>
  </form>
  Status:
  <span id="status"></span>
</body>

<script type="module">
  const uploadForm = document.querySelector("form");
  const statusEl = document.querySelector("#status");

  const formData = new FormData();
  const privateKeyFileField = document.querySelector('input[name="privatekey"]');
  const certFileField = document.querySelector('input[name="certificate"]');

  async function uploadData(url = '') {
    // add input values and key file to the form
    formData.append('appid', uploadForm.elements.appid.value);
    formData.append('privatekey', privateKeyFileField.files[0]);
    formData.append('firebaseprojectid', uploadForm.elements.firebaseprojectid.value);
    formData.append('firebasetoken', uploadForm.elements.firebasetoken.value);

    try {
      const response = await fetch(url, {
        method: 'POST',
        body: formData
      });
      if (!response.ok) {
        throw new Error('error getting data!');
      }
      console.log('response.status: ', response.status)
      console.log('response: ', response)
      return response.json();
    }
    catch (error) {
      console.error('Error making call to /upload: ', error);
      statusEl.textContent = error;
    }
  }

  uploadForm.addEventListener("submit", async (event) => {
    event.preventDefault();
    statusEl.textContent = "";

    try {
      const status = await uploadData("/upload");
      console.log('status: ', status);
      if (status.code !== 200) {
        statusEl.style.color = 'red';
        statusEl.textContent = `Code: ${status.code} Message: ${status.message}`;
      } else {
        statusEl.style.color = 'green';
        statusEl.textContent = `Code: ${status.code} Message: ${status.message}`;
      }
    }
    catch (error) {
      console.error('error: ', error);
      statusEl.textContent = error;

    }
  });
</script>

</html>
